{%extends 'modtmrpg/profile.html'%}

{%block asd%}{% endblock %}

{% block manage_profile %}
    
    <!-- <a href="/skinfix/{{data.moder.nickname}}/" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .8rem; --bs-btn-font-size: .75rem;" type="button" class="btn btn-primary "  data-bs-target="">Починить скин</a> -->
    {%if data.moder.discord%}
        <a href="/oauth2/discord/remove/" style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .8rem; --bs-btn-font-size: .75rem; " type="button" class="btn btn-outline-danger"  data-bs-target="">Отвязать</a>
    {%else%}
    <a href="{{ds_url}}"" style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .8rem; --bs-btn-font-size: .75rem;" type="button" class="btn btn-outline-success"  data-bs-target="">Привязать</a>
    <!-- <a href="{{ds_url}}" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .8rem; --bs-btn-font-size: .75rem;" type="button" class="btn btn-success"  data-bs-target="">Привязать discord</a> -->
    {%endif%}
{% endblock %}