{%extends 'base.html'%}

{%block content%}
{%if data.success_text or data.alert_text%}
<div class="alerts" style="">
{%if data.alert_text%}
<div class="alert alert-danger d-flex align-items-center" id="msg" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      {{data.alert_text}}
    </div>
  </div>
{%endif%}

{%if data.success_text%}
<div class="alert alert-success d-flex align-items-center" id="msg" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      {{data.success_text}}
    </div>
  </div>
{%endif%}
</div>

<style>
  .alerts {
    position:fixed; 
    left: 50%;
    top: 1%;
    transform: translate(-50%, 0%);
    max-width: 90%;
    width: 100%;
    z-index:9999; 
    border-radius:0px
}
</style>

<script>
const sleep = (ms = 0) => new Promise(resolve => setTimeout(resolve, ms));
    

async function delayedGreeting() {
  await sleep(2000);
 
    var currentURL = window.location.href;

    // Удаляем последний сегмент в URL (в данном случае "success")
    var newURL = currentURL.substring(0, currentURL.lastIndexOf('/'));

    // Перенаправляем на новый URL
    window.location.href = newURL+'/';

}

delayedGreeting();
</script>{%endif%}


{%for item in items%}

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel{{item.id}}">Покупка предмета</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-outline">
                <form action="buy/{{item.id}}" method="post">
                    {% csrf_token %}
                        <label class="form-label" for="typeNumber{{item.id}}">Введите количество:</label>
                        <input type="number" name="amount" id="typeNumber{{item.id}}" min="1" class="form-control" />
                        <script>
                            $("#typeNumber{{item.id}}").val(1)
                        </script>
                    
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <button type="submit" class="btn btn-primary">Подтвердить покупку</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  {%endfor%}

<script>
      divv = `<div class="form-group has-search" id="shop-search">
  <span class="fa fa-search form-control-feedback"></span>
  <input type="text" id="box" class="form-control" placeholder="Поиск">
</div>`
  if($(window).width() >= 941){
$("body").append(divv)
  }
  else{
    $("body").append(`<center>${divv}</center>`)
  }
</script>

<script>
  console.log($(window).width())
  if($(window).width() > 990){
    $("#shop-search").width(($("#profile-top-card").width()+$("#auth").width())+35)
  }
</script>


<div class="conteiner rere row-equal" id="allCards" >
  {% for item in items %}
  <div class="cardr card test" id="card{{item.id}}" data-name="{{item.item_name}} ">
    <div class="card-content">
      <div class="card cardr image-container" style="margin-top: 3%;">
        
        <img src="{%if item.image%}{{item.image.url}}{%else%}{{item.image_url}}{%endif%}"  class="rounded" alt="...">
      </div>
      <div class="text-container">

        <div style="">
        <b><span style="font-size: 15px;" class="card-title">{{item.item_name}}</span></b></br>
        {%if item.description%}<span style="font-size: 14px;" class="">ℹ️{{item.description}}</span></br>{%endif%}
        <span class="card-text" style="font-size: 14px;">💵Цена: {{item.price}} баллов</span></br>
        <span class="card-text" style="font-size: 14px;"><span class="">{%if item.note%}⚠️{{item.note}}{%endif%}</span></span></br>
        {%if not item.description%}<span class="card-text"></span></br>{%endif%}
        </div>

          <button style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .8rem; --bs-btn-font-size: .75rem; margin-top: 2%;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal{{item.id}}">Купить</button>
   
      </div>
      
    </div>
  </div>
  {% endfor %}
</div>

<script>
  $("#box").on('keyup', function(){
  var matcher = new RegExp($(this).val(), 'gi');
  $('#allCards').children().hide().filter(function(){
      return matcher.test($(this).text())
  }).show();

});
</script>


<style>
  .cardr {
  float: left;
  width: 320px; /* 300px + 10px (margin-right) + 10px (margin-left) */
  margin-right: 10px;
  margin: 10px;
}

.card-content {
  display: flex;
}

.image-container {
  max-width: 128px;
  max-height: 128px;
}

.text-container {
  /* flex-grow: 1; Увеличьте значение, чтобы увеличить ширину текстового контейнера */
  margin: 10px; 
  margin-bottom: 15px;
}

.conteiner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



/* Дополнительные стили для последней строки */
.conteiner:last-child {
  justify-content: flex-start;
}
</style>




<style>
@media only screen and (min-width: 768px) {
  .item_images {
    max-width: 176px;
  }
}
  @media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .item_images {
    max-width: 200px;
  }
}



@media only screen and (min-width: 940px) {
  /* компы */
  .has-search {
    margin-top: 0.1%;
    margin-right: 0.2%;
    /* width: 12.6%; */
    margin-left: auto;
    margin-right: 0;
  }
}
  @media only screen and (max-width: 940px) {
  /* планшеты */
  .has-search {
    max-width: 450px;
  }
}

@media only screen and (max-width: 450px) {
  /* мобилы */
  .has-search {
    max-width: 100%;
  }
}




@media only screen and (min-width: 450px) {
  .test {
  flex: 0 0 450px;
  margin-right: 10px;
  margin-bottom: 10px;  
}
}
  @media only screen and (max-width: 450px) {
  /* For mobile phones: */
  .test {
  flex: 0 0 100%;
  margin-right: 10px;
  margin-bottom: 10px;  
}
}






</style>

{%endblock%}




