{%extends 'base.html'%}

{%block content%}

{%if data.alert_text%}
<div class="alert alert-danger d-flex align-items-center" id="msg" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      {{data.alert_text}}
    </div>
  </div>
{%endif%}

{%if data.success_text%}
<div class="alert alert-success d-flex align-items-center" id="msg" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      {{data.success_text}}
    </div>
  </div>
{%endif%}

{%if data.success_text or data.alert_text%}
<script>
const sleep = (ms = 0) => new Promise(resolve => setTimeout(resolve, ms));
    

async function delayedGreeting() {
  await sleep(2000);
 
    var currentURL = window.location.href;

    // Удаляем последний сегмент в URL (в данном случае "success")
    var newURL = currentURL.substring(0, currentURL.lastIndexOf('/'));

    // Перенаправляем на новый URL
    window.location.href = newURL;

}

delayedGreeting();
</script>{%endif%}

{%for item in items%}
<!-- <h1></h1> -->


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel{{item.id}}">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-outline">
                <form action="buy/{{item.id}}" method="post">
                    {% csrf_token %}
                        <label class="form-label" for="typeNumber{{item.id}}">Введите количество:</label>
                        <input type="number" name="amount" id="typeNumber{{item.id}}" class="form-control" />
                        <script>
                            $("#typeNumber{{item.id}}").val(1)
                        </script>
                    
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <button type="submit" class="btn btn-primary">Подтвердить покупку</button>
            </div>
        </form>
      </div>
    </div>
  </div>
    



<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-1">
      <div class="col-md-4">
        <img src="/media/{{item.image}}" class="img-fluid rounded-start" alt="...">
      </div>

    <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">{{item.item_name}}</h5>
      <span class="card-text">ℹ️{{item.description}}</span></br>
      <span class="card-text"><b>💵Цена: {{item.price}}</b></span></br>
      <span class="card-text"><small class="text-muted">⚠️{{item.note}}</small></span></br>
      <button style="margin-top: 3%;" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal{{item.id}}">Купить</button>
    </div>
  </div> 
    </div>
  </div>
      
      



{%endfor%}

{%endblock%}




