{% extends "base.html" %}
{% load crispy_forms_tags %}

{%block navbar%}{%endblock%}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <!-- <p>Please login to see this page.</p> -->
  {% endif %}
{% endif %}


{%if data.alert_text%}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      {{data.alert_text}}
    </div>
  </div>
{%endif%}

<form method="post" style="margin: 0.5%;" action="{% url 'register' %}">
{% csrf_token %}
{% csrf_token %}
{{form|crispy}}


<button class="btn btn-primary" type="submit" value="register">Регистрация</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>

<script>
  $('input[name="secret_code"]').val({{id}})
  // $('input[name="secret_code"]').prop('disabled', true);
</script>

{% endblock %}